.container {
    margin: 0 20%;
    text-align: center;
}

.heading {
    font-family: var(--font1);
    font-size: 6.2rem;
}

.sub-heading {
    font-size: 3.2rem;
    font-family: var(--font2);
    padding-top: 5px;
}

.top-section {
    animation-name: titleAnimation;
    animation-timing-function:ease;
    animation-duration: 3s;
}



@media (max-width: 600px){
    .container {
        margin: 0 2%;
    }
}

@keyframes titleAnimation {
    0% {
      transform: translateY(-50px);
      opacity: 0;
      -webkit-clip-path: polygon(100% 0, 100% 100%, 0 100%, 0 80%);
      clip-path: polygon(100% 0, 100% 100%, 0 100%, 0 80%);
  }
  100% {
      transform: translateY(0);
      opacity: 1;
      -webkit-clip-path: polygon(100% 0, 100% 100%, 0 100%, 0 15%);
      clip-path: polygon(100% 0, 100% 100%, 0 100%, 0 15%);
  }
}



* {
  box-sizing: border-box;
}

input[type=text]{
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical;
}

label {
  padding: 12px 12px 12px 0;
  display: inline-block;
}

input[type=submit] {
  background-color: darkkhaki;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  
}

input[type=submit]:hover {
  background-color: darkseagreen;
}

.container {
  border-radius: 5px;
  background-color: #5A5A5E;
  padding: 20px;
}


.col-75 {
  
  width: 75%;
  top: 3px;
  padding-left: 230px;

}
#center{
    color: darkkhaki;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

@media screen and (max-width: 600px) {
  .col-25, .col-75, input[type=submit] {
    width: 100%;
    margin-top: 0;
  }
}