* {
  transition: all 0.5s ease;
}

input[type=text]{
  width: 100%;
  padding: 12px;
  border: 3px solid var(--neon);
  background-color: var(--primary);
  color: var(--text);
  font-size: 16px;
  text-align: center;
  border-radius: 24px;
  resize: vertical;
  font-family: var(--font2);
}

input[type=text]:focus {
  box-shadow: 0 0 20px var(--neon), 0 0 12px var(--neon);
}

label {
  padding: 12px 12px 12px 0;
  display: inline-block;
}

input[type=submit] {
  margin-top: 12px;
  color: var(--neon);
  font-size: 20px;
  border: 3px solid var(--neon);
  border-radius: 100px;
  padding: 0.6rem 1.6rem;
  background-color: var(--primary);
  font-family: var(--font2);
  font-weight: 600;
  padding: 12px 20px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: var(--neon);
  color: var(--primary);
  box-shadow: 0 0 20px var(--neon), 0 0 12px var(--neon);
}

.form-area {
  margin-top: 50px;
  border-radius: 5px;
  background-color: var(--light);
  padding: 30px 20px;
}


.col-75 {
  width: 55%;
  margin-top: 6px;

}
#center{
    color: var(--text);
    transition: no;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

@media screen and (max-width: 600px) {
  .col-25, .col-75, input[type=submit] {
    width: 100%;
    margin-top: 0;
  }
}