@import url(https://fonts.googleapis.com/css?family=Raleway);

:root {
    --primary: #333333;
    --light : #4A4A4E;
    --text: #FFFFFF;
    --neon: #0ff;
    --font1: Lato, "Trebuchet MS";
    --font2: Raleway, "Trebuchet MS";
}

html, body {
    margin: 0;
    padding: 0;
    font-family: var(--font2);
    font-size: 80%;
    background-color: var(--primary);
    color: var(--text);
}

.navbar {
    position: sticky;
    top: 0;
    height: 50px;
    text-align: center;
    border-bottom: 2px solid var(--neon);
    border-radius: 0 0 36% 36%;
    background-color: var(--light);
    box-shadow: 0 0 10px 2px #0ff;
    padding: 5px 0;
}

.brand {
    color: var(--text);
    text-decoration: none;
    font-size: 2.8rem;
    font-weight: 800;
    font-family: var(--font1);
}

