:root {
    --primary: #333533;
    --light : #5A5A5E;
    --text: #FFFFFF;
    --font1: 'Amatic SC', cursive;
    --font2: 'Josefin Slab', serif;
}

html, body {
    margin: 0;
    padding: 0;
    font-family: var(--font2);
    font-size: 80%;
    background-color: var(--light);
    color: var(--text);
}

.navbar {
    position: sticky;
    top: 0;
    height: 50px;
    padding: 0 20%;
    background-color: var(--primary);
}

.brand {
    color: var(--text);
    font-size: 2.8rem;
    font-weight: 600;
    font-family: var(--font1);
    text-decoration: none;
}

@media (max-width: 600px) {
    .navbar {
        padding: 0 2%;
    }
}
