.container {
    margin: 0 10%;
    text-align: center;
}

.heading {
    font-family: var(--font1);
    font-size: 3.2rem;
}

.sub-heading {
    font-size: 1.5rem;
    font-family: var(--font2);
    font-weight: 500;
}

.top-section {
    animation-name: titleAnimation;
    animation-timing-function:ease;
    animation-duration: 2s;
}

@media (max-width: 600px){
    .container {
        margin: 0 2%;
    }
}

@keyframes titleAnimation {
    0% {
      transform: translateY(-50px);
      opacity: 0;
      -webkit-clip-path: polygon(100% 0, 100% 100%, 0 100%, 0 0%);
      clip-path: polygon(100% 0, 100% 100%, 0 100%, 0 0%);
  }
  100% {
      transform: translateY(0);
      opacity: 1;
      -webkit-clip-path: polygon(100% 0, 100% 100%, 0 100%, 0 0%);
      clip-path: polygon(100% 0, 100% 100%, 0 100%, 0 0%);
  }
}

